/* General */
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--htmlTextColor);
  background-color: var(--htmlBackgroundColor);
}

html *::-webkit-scrollbar {
  border-radius: 3px;
  width: 3px;
  height: 3px;
}

html *::-webkit-scrollbar-track {
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

html *::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
}

/* App */
#app-wrapper {
  font-family: var(--fontFamily), system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  width: 100vw;
}

/* Layout */
.header {
  margin-bottom: 10px;
}

.menu-logged-out,
.menu-logged-in,
.menu-user-action {
  display: inline-block;
  padding: 0px 30px;
}

.modal-login-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000047;
}

.modal-login-box {
  position: relative;
  background: var(--contentBackgroundColor);
  max-width: 90%;
  margin: auto;
  margin-top: 35vh;
  width: 400px;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 20px #00000080;
}

.modal-login-close {
  cursor: pointer;
  max-height: 20px;
  max-width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-login-form {
  margin: 30px 0px 10px 0px;
}

.modal-login-form button {
  background: var(--ctaBackgroundColor);
  color: var(--ctaTextColor);
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 7px #0000007d;
}

.modal-login-form input {
  display: block;
  width: 100%;
  padding: 7px;
  margin: 10px 0px;
  border-radius: 7px;
  background: #00000038;
  border: none;
  color: white;
}

#content-wrapper {
  background: var(--contentBackgroundColor);
  color: var(--contentTextColor);
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  margin: auto;
  border-radius: 12px;
  padding: 30px;
  height: var(--contentHeight);
  width: var(--contentWidth);
  transition: 0.1s all;
}

.home-logo {
  max-height: 200px;
  max-width: 200px;
}

.link {
  font-weight: 200;
  color: var(--contentTextColor);
  text-decoration: none;
  margin: 0px 10px;
}

.link.active {
  font-weight: 600;
}

/* Posts */
.post-item-wrapper {
  width: 48%;
  margin-bottom: 30px;
  margin-right: 2%;
  padding: 17px;
  display: inline-block;
  vertical-align: top;
  background: #00000014;
  border-radius: 7px;
}

.post-item-title {
  font-weight: 500;
}

.post-item-body {
  font-weight: 100;
}

.post-item-link {
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  /* App */
  #app-wrapper {
    height: 100vh;
  }

  #content-wrapper {
    height: 100vh !important;
    width: auto !important;
    max-height: 100vh !important;
    max-width: 100vw;
    border-radius: 0px;
  }

  .header {
    margin-top: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    text-align: center;
    width: 100vw;
    background-color: var(--htmlBackgroundColor);
  }
}
